{{> header}}
<div class="about-wrapper">
    <div class="about-background">
        <div class="container2">
            <h1>Since 1994</h1>
        </div>
    </div>
    <div class="about-information">
        <div class="about-section1">
            <h1>The only 24/7 fitness in Oakland</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae rerum veniam itaque laudantium totam rem
                excepturi, sint ipsa aut fugit laborum nam quia soluta voluptate vero natus quam sunt quos! Voluptate ea
                ad rem eligendi quidem, explicabo ex quibusdam architecto!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed tempore repudiandae consequatur. Sit
                repellat voluptates odio rem officia numquam necessitatibus accusamus recusandae dicta ab sunt quod
                magni adipisci neque saepe velit possimus nihil cumque qui harum, doloribus et quos atque. Dolores minus
                fugiat explicabo itaque blanditiis corporis iusto eveniet id. Quia, quis fugiat? Minima asperiores
                magnam sed enim iure? Soluta?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique soluta itaque eius excepturi optio
                laudantium consequuntur illum quaerat temporibus voluptas! Consequatur deleniti blanditiis, vel eveniet
                porro ipsum labore maxime magni.</p>
        </div>
        <div class="about-section2">
            <h1>Our trainers</h1>
            <ul>
                <li>
                    <div class="trainer-info">
                        <img src="https://bestrongstrength.com/wp-content/uploads/2019/11/Sans-titre.png" alt="">
                        <h3>Sergi Constance</h3>
                        <span></span>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo adipisci aut omnis officiis
                        assumenda consequatur, eum non temporibus optio voluptates!</p>
                </li>
                <li>
                    <div class="trainer-info">
                        <img src="https://cdn1-www.thefashionspot.com/assets/uploads/gallery/best-female-fitness-models-on-instagram/19955635_1143840405721430_4470635143488339968_n1.jpg"
                            alt="">
                        <h3>Rachel Vera</h3>
                        <span></span>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo adipisci aut omnis officiis
                        assumenda consequatur, eum non temporibus optio voluptates!</p>
                </li>
                <li>
                    <div class="trainer-info">
                        <img src="https://www.greatestphysiques.com/wp-content/uploads/2016/12/1-9.jpg" alt="">
                        <h3>Marc Fitt</h3>
                        <span></span>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo adipisci aut omnis officiis
                        assumenda consequatur, eum non temporibus optio voluptates!</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.49458442176!2d-122.25651098527942!3d37.825305779750245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857df9d46de2e1%3A0xafd8993509deaab3!2sFLEX!5e0!3m2!1sen!2sbg!4v1580480684745!5m2!1sen!2sbg"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="about-section3">
        <p>Contacts</p>
        <div class="about-contacts">
            <ul class="contacts2">
                <li><i class="fas fa-compass"></i>Oakland CA, 3925 Piedmont</li>
                <li><i class="fas fa-envelope-square"></i>somebodysemail@gmail.com</li>
                <li><i class="fas fa-phone"></i>+359 987 654 321</li>

            </ul>
            <div class="send">
                <h2>Contact form</h2>
                <input type="text" placeholder="Email">
                <textarea style="resize: none;" cols="30" rows="15" placeholder="Message"></textarea>
                <button>Send<i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>


</div>
{{> footer}}
{{!-- <p><i class="fas fa-compass"></i> 17 Tintyava str. Dianabad, Sofia </p>
            <p><i class="fas fa-envelope-square"></i> somebodysemail@gmail.com</p>
            <p><i class="fas fa-phone"></i> +359 987 654 321</p> --}}