{{> header}}
<main class="site-main">
    <section class="section-main-banner">
        <img src="https://webthemez.com/demo/shape-free-fitness-website-template/img/slides/2.jpg" alt="">
        <h1>TRAIN HARD OR GO HOME</h1>
    </section>
    <section class="section-middle">
        <div class="headings">
            <h2>GET IN SHAPE WITH US</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est</p>
        </div>
        <ul class="info">
            <li class="info2">
                <img src="https://www.goldsgym.com/wp-content/uploads/sites/1/2017/09/GOLDS-GYM-Free-BOOTCAMP-s4.png"
                    alt="">
                <div>
                    <h2>BOOTCAMP TRAINING</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, hic? Unde alias inventore
                        aperiam error illum quam consequuntur, ea quidem!</p>
                </div>
            </li>
            <li class="info2">
                <img src="https://www.goldsgym.com/wp-content/uploads/sites/1/2017/09/Fitness-Experience-CarouselGGX.jpg"
                    alt="">
                <div>
                    <h2>GROUP EXERCISE</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam autem nihil veniam
                        laudantium
                        veritatis quaerat officiis ad excepturi velit ab.</p>
                </div>
            </li>
            <li class="info2">
                <img src="https://www.goldsgym.com/wp-content/uploads/sites/1/2017/09/Personal-training-fitness-experience.jpg"
                    alt="">
                <div>
                    <h2>PERSONAL TRAINING</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam autem nihil veniam
                        laudantium
                        veritatis quaerat officiis ad excepturi velit ab.</p>
                </div>
            </li>
        </ul>
    </section>
    <section class="section-more-info">
        <div class="headings">
            <h2>OUR SERVICES</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est asperiores fugit incidunt corrupti,
                facere nisi totam quidem itaque atque. Laborum.</p>
        </div>
        <ul class="list">
            <li class="container">
                <img src="https://raw.githubusercontent.com/mdimitrov94/mdimitrov94.github.io/master/images/cardio.png"
                    alt="">
                <div class="items">
                    <h2>Cardio zone</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt velit impedit
                        voluptatibus quia ex harum non quas expedita natus.</p>
                </div>
            </li>
            <li class="container">
                <img src="https://raw.githubusercontent.com/mdimitrov94/mdimitrov94.github.io/master/images/teacher.png"
                    alt="">
                <div class="items">
                    <h2>Personal training</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt velit impedit
                        voluptatibus quia ex harum non quas expedita natus.</p>
                </div>
            </li>
            <li class="container">
                <img src="https://raw.githubusercontent.com/mdimitrov94/mdimitrov94.github.io/master/images/protein.png"
                    alt="">
                <div class="items">
                    <h2>Protein bar</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt velit impedit
                        voluptatibus quia ex harum non quas expedita natus.</p>
                </div>
            </li>
            <li class="container">
                <img src="https://raw.githubusercontent.com/mdimitrov94/mdimitrov94.github.io/master/images/spa.png"
                    alt="">
                <div class="items">
                    <h2>SPA</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt velit impedit
                        voluptatibus quia ex harum non quas expedita natus.</p>
                </div>
            </li>
            <li class="container">
                <img src="https://raw.githubusercontent.com/mdimitrov94/mdimitrov94.github.io/master/images/shower.png"
                    alt="">
                <div class="items">
                    <h2>Shower</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt velit impedit
                        voluptatibus quia ex harum non quas expedita natus.</p>
                </div>
            </li>
            <li class="container">
                <img src="https://raw.githubusercontent.com/mdimitrov94/mdimitrov94.github.io/master/images/time.png"
                    alt="">
                <div class="items">
                    <h2>24/7 access</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt velit impedit
                        voluptatibus quia ex harum non quas expedita natus.</p>
                </div>
            </li>
        </ul>
    </section>
</main>
{{> footer}}