{{> header}}
<div class="background">
    <div class="notlogged">
        <h1>Oops... You have to be <a href="#/login">Logged in</a> to view the page.</h1>
        
        <span>&copy Flex Gym 2020</span>
    </div>
</div>

{{> footer}}