{{> header}}
<section class="section-main-banner">
    <div class="text">
        <img src="https://webthemez.com/demo/shape-free-fitness-website-template/img/slides/1.jpg" alt="">
        <h1>TRAIN HARD OR GO HOME</h1>
    </div>
</section>
<section class="black"></section>
<section class="red">
    <h1>GALLERY</h1>
</section>
<section class="black"></section>
<div class="gallery-wrapper">
    <ul class="gallery">
        <li><img src="./images/gallery/1.jpg" alt=""></li>
        <li><img src="./images/gallery/2.jpg" alt=""></li>
        <li><img src="./images/gallery/3.jpg" alt=""></li>
        <li><img src="./images/gallery/4.jpg" alt=""></li>
        <li><img src="./images/gallery/5.jpg" alt=""></li>
        <li><img src="./images/gallery/6.jpg" alt=""></li>
        <li><img src="./images/gallery/13.jpg" alt=""></li>
        <li><img src="./images/gallery/14.jpg" alt=""></li>
        <li><img src="./images/gallery/15.jpg" alt=""></li>
        <li><img src="./images/gallery/16.jpg" alt=""></li>
        <li><img src="./images/gallery/17.jpg" alt=""></li>
        <li><img src="./images/gallery/18.jpg" alt=""></li>
        <li><img src="./images/gallery/19.jpg" alt=""></li>
        <li><img src="./images/gallery/20.jpg" alt=""></li>
        <li><img src="./images/gallery/21.jpg" alt=""></li>
        <li><img src="./images/gallery/22.jpg" alt=""></li>
    </ul>
</div>
{{> footer}}