<footer class="site-footer">
    <div class="footer-wrapper">
        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li class="links"><a href="#/">Home</a></li>
                <li class="links"><a href="#/events">Events</a></li>
                <li class="links"><a href="#/gallery">Gallery</a></li>
                <li class="links"><a href="#/about">About</a></li>
            </ul>
        </div>
        <div class="quick-links">
            <h2>Social Media</h2>
            <ul>
                <li class="links"><i class="fab fa-facebook-square"></i>Facebook</li>
                <li class="links"><i class="fab fa-instagram"></i>Instagram</li>
                <li class="links"><i class="fab fa-twitter-square"></i>Twitter</li>
                <li class="links"><i class="fab fa-youtube"></i>Youtube</li>
            </ul>
        </div>

        <div class="more-for-us">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <p class="last">&copy All rights Reserved</p>


</footer>