@mixin holder {
    display: flex;
    background-color:rgba(255, 255, 255, 0.479);
    width: 80%;
    max-width: 1200px;
    min-height: 480px;
    margin: 7em auto 3em;
    border: 5px solid #DF3D3D;
    border-radius:1rem;
    box-shadow:0 0 1.5rem 0 rgba(0, 0, 0, 5.712);
}
@mixin background {
    font-family: Arial, Helvetica, sans-serif;
    //font-style: italic;
    background-image: url("https://webthemez.com/demo/shape-free-fitness-website-template/img/slides/2.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin contacts {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

@mixin button {
    padding: 1em 3em;
    border: none;
    border-radius: 0.5em;
    background-color: rgba(51, 51, 51, 0.9);
    font-size: 20px;
    color: $headings;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    text-align: center;
    transition: background .4s;
}

$text: #888888;
$headings: #FFF